.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 70px;
  font-weight: bold;
  color: #09d3ac;
}

.App-content {
  flex: 1;
  color: white;
}